.myths {
	width: 100%;
    display: inline-block;
}

.inner-infographics {
	position: relative;
    height: 979.4px;
	margin-left: -3%;
	display: flex;
    flex-wrap: wrap;
}

.inner-infographics article {
	display: block;
	padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

.inner-infographics .post {
	position: absolute;
    left: 0px;
    top: 0px;
	float: left;
    width: 30.33%;
    margin: 0 0 25px 3%;
}

.inner-infographics .media {
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
}

.inner-infographics .media img {
	max-width: 100%;
    height: auto;
}

.inner-infographics .media:hover img
{	
	transform:scale(1.1);
}

/*.inner-infographics 
{
	display: -webkit-box;  
	display: -ms-flexbox;  
	display: flex; 
	-ms-flex-wrap: wrap;  
	flex-wrap: wrap;
}

.inner-infographics .post {
	float: left;
    width: 30.33%;
    margin: 0 0 25px 3%;
}

article {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
}

div {
	display: block;
}

img {
    max-width: 100%;
    height: auto;
}

*/

.mygov_champions_area {	
	margin: 0 auto;	
	background-color: #ffffff;
}

.mygov_champions_area h2 {
	font-family:"Open Sans", sans-serif; 
	text-transform:uppercase; 
	font-weight:700; 
	font-size:1.429em; 
	position:relative; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex; 
	-webkit-box-align: center; 
	-ms-flex-align: center; 
	align-items: center; 
	flex-wrap:wrap; 
	margin-bottom: 20px;
}

.mygov_champions_area h2:before {
	content:""; 
	background:#1d3a7c; 
	width:20px; 
	height:14px; 
	display:inline-block; 
	margin-right:5px;
}

.mygov_champions_area p {
	font-weight:normal;
}

.arogya_bhav {
	color: #4d4d4d;
	font-weight: 400;
	font-size: 14px;
	font-style: normal;
	font-family: 'Roboto', sans-serif;
	outline: 0 none;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;
	margin-bottom: 20px;
	display: flex;
	-webkit-box-align: baseline;
	align-items: baseline;
	-webkit-box-pack: justify;
	justify-content: space-between;
	flex-wrap: wrap;
}

.arogya_bhav a {
	font-weight: 400;
	font-style: normal;
	font-family: 'Roboto', sans-serif;
	-webkit-tap-highlight-color: transparent;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
	color: #6c6c6c;
	outline: none;
	max-width: 32.33%;
	margin-bottom: 10px;
}